* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* navbar start */
.navbar {

  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 92px;
  align-items: center;
  background-color: #1A0B2E;
}

.navbar>h3 {
  color: aliceblue;
}

.nav-links {
  display: flex;
  gap: 80px;
  list-style: none;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: aliceblue;
}

.van {
  display: none;

}

.btn {
  color: blue;
  background: springgreen;
  width: 135px;
  height: 45px;
}

/* navbar end */

/* hero section start */


.hero-img {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid tomato; */
  width: 350px;
  height: 350px;
  padding: 40px;
  margin-top: 100px;
  margin-left: 70px;
  background: url("./assets/hero-circle.png");
}

.mic {
  width: 200px;
  height: 200px;
  padding: 10px;
}

.hero-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* border: 2px solid red; */
  width: 100%;
  height: 760px;
  background: url("./assets/hero-bg.png");
  background-repeat: repeat-x;
  background-attachment: scroll;

}

.hero-content {
  color: aliceblue;
  /* border: 1px solid red; */
  padding: 20px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 70px;
}



































@media screen and (max-width:576px) {
  .nav-links {
    display: none;
  }

  .navbar {
    justify-content: space-between;
  }

  .van {
    display: inline;
    color: rgb(223, 16, 16);
  }

  /* hero section */
  .hero-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


  }
}